html,
body {
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth;
}
